<section class="cards container">
    {% for item in list %}
        <div class="cards__item">
            <div class="cards__img-wrap">
                <div class="cards__img {% if item.img %}{{ 'cards__img--' }}{{ item.img }}{% endif %}"></div>
                <h3>{{ item.caption }}</h3>
            </div>
            <p>{{ item.description }}</p>
            <a href="#">{{ item.link }}</a>
        </div>
    {% endfor %}
</section>
