<label class="label {{ modifier }} {% if png %}{{ 'label--png-' }}{{ png }}{% endif %}">
    <span class="{{ class_span }}">{{ title }}</span>
    <input class="input {{ class }} {{ modifier_email }}" type="{{ type }}" name="{{ name }}"
           placeholder="{{ placeholder }}"  {% if required %}required{% endif %}>
</label>