<section class="product">
    <div class="container">
        <ul class="product__list">
            {% for item in list %}
                <li class="product__item {{ item.class_all }}">
                    {% include 'img.twig' with {
                        'class' : 'product__img',
                        'title' : item.title,
                        'tablet_src' : item.tablet_src,
                        'mobile_src' : item.mobile_src,
                        'src' : item.src,
                        'responsive' : true,
                    } %}
                    <div class="product__wrap-description {{ item.wrap_description }}">
                        <h5 class="{{ item.product_all }} {{ item.last_title }}">{{ item.main_title }}</h5>
                        <p class="{{ item.description_class }}">{{ item.description }}</p>
                        <table class="product__table">
                            <tr class="product__table-row">
                                <td class="product__table-column">{{ item.title_volume }}</td>
                                <td class="product__table-column">{{ item.volume }}</td>
                            </tr>
                            <tr class="product__table-row">
                                <td class="product__table-column">{{ item.title_taste }}</td>
                                <td class="product__table-column">{{ item.taste }}</td>
                            </tr>
                            <tr class="product__table-row">
                                <td class="product__table-column">{{ item.title_price }}</td>
                                <td class="product__table-column">{{ item.price }}</td>
                            </tr>
                        </table>
                        <a class="btn {{ item.btn_grey }} {{ item.catalog_btn }} {{ item.hide_mobile }}" href="{{ item.link }}">заказать</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>