<footer class="footer">
    <div class="container">
        <div class="footer__wrap">
            <a class="footer__logo" href="/">логотип</a>
            <div class="footer__social-item">
                {% for item in list %}
                    <a class="footer__social-link {% if item.class %}{{ 'footer__social-link--' }}{{ item.class }}{% endif %}" href="{{ item.link }}">{{ item.title }}</a>
                {% endfor %}
            </div>
            <div class="footer__developer">{{ title_dev }}</div>
        </div>
    </div>
</footer>